@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, Arial, "sans-serif";
	font-size: 100%;
	line-height: 150%;
}
h1{
	margin-left: 10%;
}
body{
	margin: 0;
	padding: 0;
}
#Index {
	width: 100%;
	background-color: #FFFFFF;
	overflow: hidden;
}
#Header {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	background-color: #F9F9F9;
	position:fixed;
	z-index: 999;
}
#Hero {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	min-height: 768px;
	overflow: hidden;
	background-color: #F9F9F9;
}
/* Clearfix (clear floats) */
.row {
	content: "";
	clear: both;
	display: table;
	width: 100%;
}
.column {
	display: block;
	float: left;
	width: 50%;
	padding: 5px;
	margin: auto;
	justify-content: center;
	align-content: center;
}
.title {
	font-weight:bold;
	font-size: 220%;
	line-height: 120%;
	margin-left: 10%;
}
.subtitle {
	font-size: 120%;
	line-height: 120%;
	margin-left: 10%;
}
.Description{
	font-size: 100%;
	line-height: 100%;
	max-width: 500px;
	/*min-width: 250px;*/
	margin-left: 10%;
}
.rectangle {
    height: 10px;
    width: 100px;
	margin-bottom: 30px;
	margin-top: 10px;
    background-color: #E95841;
    margin-left: 10%;
}
.avatarcircle {
	height: 50px;
	width: 50px;
	background-color: #555;
	border-radius: 50%;
}
.social {
    height: 50px;
    width: 512px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#Avatar{
	align-content: center;
}
.page{
	display: block;
	justify-content: center;
	align-content: center;
	width: 100%;
	min-height: 200px;
	overflow: hidden;
	background-color: #ffffff;
}
.btn-group .button {
	background-color: #E95841;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	cursor: pointer;
	float: left;
	border-radius: 50px;
	width: 200px;
	margin-right: 24px;
}
.btn-group .button:hover {
	background-color:#D8422B;
}
.btn-group .button:active {
	background-color:#FAE0DC;
}
.pagebreak{
	height: 100px;
}
a {
  text-decoration: none;
}
#resizedTextbox {
	height: 120px;
}
#footer{
	background-color: #F9F9F9;
	min-height: 40px;
}
.creativbox{
    font-size: 100%;
    line-height: 100%;
	width: 100%;
    /*max-width: 600px;*/
	/*min-width: 250px;*/
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    /*padding: 10px;*/
    background-color: #ffffff;
    box-shadow: 0px 8px 24px #959DA5;
    overflow: visible;
    -webkit-box-shadow: 0px 8px 24px #959DA5;
}
[class*="col-"] {
	float: left;
	padding: 15px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-right: 10px;
	border-radius: 20px;
	background-color: #ffffff;
	box-shadow: 0px 8px 24px #959DA5;
	-webkit-box-shadow: 0px 8px 24px #959DA5;
}
/* For mobile phones: */
[class*="col-"] {
	width: 94%;
	min-height: fit-content;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 30%; min-height: 230px;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}